.container {
  padding-top: 50px;
  background: #eee;
}
.center {
  text-align: center;
}

.boxes {
  display: flex;
}

.box {
  display: inline-block;
  text-align: center;
  margin-top: 100px;
}

.title {
  text-transform: uppercase;
  margin-top: 50px;
  text-decoration: underline;
  text-decoration-color: orange;
}


@media (max-width: 480px) {
  .boxes {
    display: block;
  }
}