.container {
  background: #eee;
}
.center {
  text-align: center;
}

.boxes {
  display: flex;
}

.box {
  display: inline-block;
  text-align: center;
}

.title {
  text-transform: uppercase;
  margin: 50px 0;
}


@media (max-width: 480px) {
  .boxes {
    display: block;
  }
}