.container {
  background: #fff;
  padding: 30px;
}

.card {
  background: red !important;
}

.title {
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: orange;
  margin-bottom: 0;
}

.line {
  margin: 0 auto;
}

@media(max-width: 958px) {
  .title {
    text-align: center;
  }
}